h1 {
    text-align: center;
    color: black;
}
h2 {
    text-align: left;
    color: black;
}
a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: black;
    background-color: blue;
    text-decoration: none;
}
header {
    background-color: aqua;
    padding: 10px 0;
}
